<section>
  <mat-tab-group>
    @for (kategorija of kategorije; track kategorija) {
      <mat-tab [label]="kategorija">
        <div class="shop-grid">
          @for (izdelek of getIzdelkiPoKategoriji(kategorija); track izdelek.id) {
            <mat-card class="izdelek-card">
              <img mat-card-image [src]="izdelek.slika" [alt]="izdelek.ime" />
              <mat-card-title>{{ izdelek.ime }}</mat-card-title>
              <mat-card-subtitle>{{ izdelek.cena | currency:'EUR' }}</mat-card-subtitle>
              <mat-card-content>
                <p>{{ izdelek.opis }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="cartService.addItem(izdelek)">
                  Dodaj v košarico
                </button>
              </mat-card-actions>
            </mat-card>
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>

</section>
