.izdelek-card {
    margin-bottom: 1rem;
    padding: 0.3rem;
}
  
.skupaj {
    margin-top: 2rem;
    text-align: right;
}
  
section {
  padding: 1rem;
}

:host {
  display: block;
  padding: 1rem;
}
